doctype html
head
  title Rezume Free Template by Colorlib
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='stylesheets/animate.css')
  link(rel='stylesheet' href='stylesheets/flexslider.css')
  link(rel='stylesheet' href='fonts/icomoon/style.css')
  link(rel='stylesheet' href='stylesheets/bootstrap.css')
  link(rel='stylesheet' href='stylesheets/style.css')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700' rel='stylesheet')
nav#pb-navbar.navbar.navbar-expand-lg.site-navbar.navbar-light.bg-light
  .container
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExample09' aria-controls='navbarsExample09' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExample09.collapse.navbar-collapse.justify-content-md-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#section-home') Home
        li.nav-item
          a.nav-link(href='#section-portfolio') Portfolio
        li.nav-item
          a.nav-link(href='#section-resume') Resume
        li.nav-item
          a.nav-link(href='#section-about') About
        li.nav-item
          a.nav-link(href='#section-contact') Contact
section#section-home.site-hero(style='background-image: url(images/image_1.jpg);' data-stellar-background-ratio='0.5')
  .container
    .row.intro-text.align-items-center.justify-content-center
      .col-md-10.text-center.pt-5
        h1.site-heading.site-animate
          | Hello, I&apos;m 
          strong.d-block Charles Anderson
        strong.d-block.text-white.text-uppercase.letter-spacing and this is My Rezume
// section
section#section-portfolio.site-section
  .container
    .row
      .section-heading.text-center.col-md-12
        h2
          | Featured 
          strong Portfolio
    .filters
      ul
        li.active(data-filter='*') All
        li(data-filter='.packaging') Packaging
        li(data-filter='.mockup') Mockup
        li(data-filter='.typography') Typography
        li(data-filter='.photography') Photography
    .filters-content
      .row.grid
        .single-portfolio.col-sm-4.all.mockup
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p1.jpg' alt='')
            a.img-pop-up(href='images/p1.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 Square Box Mockup
            .cat Mockup
        .single-portfolio.col-sm-4.all.mockup
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p2.jpg' alt='')
            a.img-pop-up(href='images/p2.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 Product Box Package Mockup
            .cat Mockup
        .single-portfolio.col-sm-4.all.packaging
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p3.jpg' alt='')
            a.img-pop-up(href='images/p3.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 Creative Package Design
            .cat Packaging
        .single-portfolio.col-sm-4.all.packaging
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p4.jpg' alt='')
            a.img-pop-up(href='images/p4.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 Packaging Brand
            .cat Packaging
        .single-portfolio.col-sm-4.all.typography
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p5.jpg' alt='')
            a.img-pop-up(href='images/p5.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 Isometric 3D Extrusion
            .cat Typography
        .single-portfolio.col-sm-4.all.photography
          .relative
            .thumb
              .overlay.overlay-bg
              img.image.img-fluid(src='images/p6.jpg' alt='')
            a.img-pop-up(href='images/p6.jpg')
              .middle
                .text.align-self-center.d-flex
                  img(src='images/preview.png' alt='')
          .p-inner
            h4 White Space Photography
            .cat photography
// .section
section#section-resume.site-section
  .container
    .row
      .col-md-12.mb-5
        .section-heading.text-center
          h2
            | My 
            strong Resume
      .col-md-6
        h2.mb-5 Education
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Masteral in Information Technology
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school New York University
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present Deacember.
          h3 Masteral in Information Technology
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school New York University
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Masteral in Information Technology
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school New York University
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present Deacember.
          h3 Masteral in Information Technology
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school New York University
      .col-md-6
        h2.mb-5 Experience
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Lead Product Designer
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school Github
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Lead Product Designer
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school Facebook
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Lead Product Designer
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school Twitter
        .resume-item.mb-4
          span.date
            span.icon-calendar
            |  March 2013 - Present
          h3 Lead Product Designer
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
          span.school Shopify
// .section
section#section-about.site-section
  .container
    .row.mb-5.align-items-center
      .col-lg-7.pr-lg-5.mb-5.mb-lg-0
        img.img-fluid(src='images/image_1.jpg' alt='Image placeholder')
      .col-lg-5.pl-lg-5
        .section-heading
          h2
            | About 
            strong Me
        p.lead
          | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        p.mb-5
          | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        p
          a.btn.btn-primary.px-4.py-2.btn-sm.smoothscroll(href='#section-contact') Hire Me
          a.btn.btn-secondary.px-4.py-2.btn-sm(href='#') Download CV
section.site-section
  .container
    .row.mb-5
      .col-md-12
        .section-heading.text-center
          h2
            | Client 
            strong Testimonial
    .row
      .col-md-6
        .block-47.d-flex.mb-5
          .block-47-image
            img.img-fluid(src='images/person_1.jpg' alt='Image placeholder')
          blockquote.block-47-quote
            p
              | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
            cite.block-47-quote-author
              | &mdash; Ethan McCown, CEO 
              a(href='#') XYZ Inc.
      .col-md-6
        .block-47.d-flex.mb-5
          .block-47-image
            img.img-fluid(src='images/person_2.jpg' alt='Image placeholder')
          blockquote.block-47-quote
            p
              | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
            cite.block-47-quote-author
              | &mdash; Craig Gowen, CEO 
              a(href='#') XYZ Inc.
      .col-md-6
        .block-47.d-flex.mb-5
          .block-47-image
            img.img-fluid(src='images/person_3.jpg' alt='Image placeholder')
          blockquote.block-47-quote
            p
              | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
            cite.block-47-quote-author
              | &mdash; Ethan McCown, CEO 
              a(href='#') XYZ Inc.
      .col-md-6
        .block-47.d-flex.mb-5
          .block-47-image
            img.img-fluid(src='images/person_4.jpg' alt='Image placeholder')
          blockquote.block-47-quote
            p
              | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
            cite.block-47-quote-author
              | &mdash; Craig Gowen, CEO 
              a(href='#') XYZ Inc.
section#section-services.site-section.pb-0
  .container
    .row.mb-4
      .col-md-12
        .section-heading.text-center
          h2
            | My 
            strong Services
    .row
      .col-md-6.col-lg-4.text-center.mb-5
        .site-service-item.site-animate(data-animate-effect='fadeIn')
          span.icon
            span.icon-browser2
          h3.mb-4 Web Design
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          p
            a.site-link(href='#')
              | Learn More 
              i.icon-chevron-right
      .col-md-6.col-lg-4.text-center.mb-5
        .site-service-item.site-animate(data-animate-effect='fadeIn')
          span.icon
            span.icon-presentation
          h3.mb-4 Search Engine Optimization
          p
            | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          p
            a.site-link(href='#')
              | Learn More 
              i.icon-chevron-right
      .col-md-6.col-lg-4.text-center.mb-5
        .site-service-item.site-animate(data-animate-effect='fadeIn')
          span.icon
            span.icon-video2
          h3.mb-4 Video Editing
          p
            | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
          p
            a.site-link(href='#')
              | Learn More 
              i.icon-chevron-right
section#section-blog.site-section
  .container
    .row
      .col-md-12.mb-5
        .section-heading.text-center
          h2
            | Blog on 
            strong Medium
    .row
      .col-sm-6.col-lg-4.mb-4
        .blog-entry
          a(href='#')
            img.img-fluid(src='images/post_1.jpg' alt='Image placeholder')
          .blog-entry-text
            h3
              a(href='#') Creative Product Designer From Facebook
            p.mb-4
              | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            .meta
              a(href='#')
                span.icon-calendar
                |  Aug 7, 2018
              a(href='#')
                span.icon-bubble
                |  5 Comments
      .col-sm-6.col-lg-4.mb-4
        .blog-entry
          a(href='#')
            img.img-fluid(src='images/post_2.jpg' alt='Image placeholder')
          .blog-entry-text
            h3
              a(href='#') Creative Product Designer From Facebook
            p.mb-4
              | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            .meta
              a(href='#')
                span.icon-calendar
                |  Aug 7, 2018
              a(href='#')
                span.icon-bubble
                |  5 Comments
      .col-sm-6.col-lg-4.mb-4
        .blog-entry
          a(href='#')
            img.img-fluid(src='images/post_3.jpg' alt='Image placeholder')
          .blog-entry-text
            h3
              a(href='#') Creative Product Designer From Facebook
            p.mb-4
              | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
            .meta
              a(href='#')
                span.icon-calendar
                |  Aug 7, 2018
              a(href='#')
                span.icon-bubble
                |  5 Comments
section#section-contact.site-section
  .container
    .row
      .col-md-12.mb-5
        .section-heading.text-center
          h2
            | Get 
            strong In Touch
      .col-md-7.mb-5.mb-md-0
        form.site-form(action='')
          h3.mb-5 Get In Touch
          .form-group
            input.form-control.px-3.py-4(type='text' placeholder='Your Name')
          .form-group
            input.form-control.px-3.py-4(type='email' placeholder='Your Email')
          .form-group
            input.form-control.px-3.py-4(type='email' placeholder='Your Phone')
          .form-group.mb-5
            textarea.form-control.px-3.py-4(cols='30' rows='10' placeholder='Write a Message')
          .form-group
            input.btn.btn-primary.px-4.py-3(type='submit' value='Send Message')
      .col-md-5.pl-md-5
        h3.mb-5 My Contact Details
        ul.site-contact-details
          li
            span.text-uppercase Email
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;site@gmail.com
          li
            span.text-uppercase Phone
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;+30 976 1382 9921
          li
            span.text-uppercase Fax
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;+30 976 1382 9922
          li
            span.text-uppercase Address
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;San Francisco, CA 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4th Floor8 Lower  
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;San Francisco street, M1 50F
footer.site-footer
  .container
    .row.mb-5
      p.col-12.text-center
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy; 
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.icon-heart.text-danger(aria-hidden='true')
        |  by 
        a.text-primary(href='https://colorlib.com' target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    .row.mb-5
      .col-md-12.text-center
        p
          a.social-item(href='#')
            span.icon-facebook2
          a.social-item(href='#')
            span.icon-twitter
          a.social-item(href='#')
            span.icon-instagram2
          a.social-item(href='#')
            span.icon-linkedin2
          a.social-item(href='#')
            span.icon-vimeo
script(src='js/vendor/jquery.min.js')
script(src='js/vendor/jquery-migrate-3.0.1.min.js')
script(src='js/vendor/popper.min.js')
script(src='js/vendor/bootstrap.min.js')
script(src='js/vendor/jquery.easing.1.3.js')
script(src='js/vendor/jquery.stellar.min.js')
script(src='js/vendor/jquery.waypoints.min.js')
script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
script(src='js/custom.js')
// Google Map
//
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
